div(class='comment')
    div(class='comment-header') 
        span(class='comment-header-name')
            b #{name}
        span(class='comment-header-date')
            b #{date}
    p(class='comment-text') #{text}
