html
  head
    title Simple Guestbook (MEPN stack)
    style
      include style.css
  body
    h1 Simple Guestbook
    div(class='new-comment-block')
      form(action='' method='post' formmethod="post")
        p Name:
        input(type='text' class='name-input' id='id-comment-input' size='56' maxlength="50")
        p Comment:
        textarea(rows="4" cols="50" maxlength="200" class='text-input' id='id-comment-input')
        input(type='submit' class="submit-button" value='Submit')
    div(class='comments-block')
      !=content
