html
  head
    title Render HTML using PUG
  body
    h1 Welcome
    div
      form(action='' method='post' formmethod="post")
        p Name:
        input(type='text' name='name' id='id-comment-input')
        p Comment:
        input(type='text' name='text' id='id-comment-input')
        br
        br
        input(type='submit' value='Submit')
    div
      !=content
