body {
    background-color: #120D31;
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
    text-align: center;
    width: 90%;
    max-width: 800px;
}

.new-comment-block {
    margin-bottom: 14px;
    padding: 5px 0;
    background-color: beige;
    width: 90%;
    max-width: 800px;
}

.new-comment-block * {
    display: block;
    margin: 5px 0 5px 5px;
}

.submit-button {
    background-color: #d4e3ff;
    font-size: 1.4em;
    font-weight: bold;
    width: 140px;
    height: 80px;
    margin-top: 10px;
}

.name-input {
    width: 400px;
}

.text-input {
    resize: none;
    width: 400px;
}

.comments-block {
    display: block;
    width: 90%;
    max-width: 800px;
}

.comment {
    border: solid #7A7978 4px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #4A306D;
    margin: 10px 0 5px 0;
    height: 120px;
}

.comment-header {
    padding: 8px 4px;
    background-color: #EFF7FF;
    display: flex;
}

.comment-header-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8em;
    margin-right: auto;
    color: black;
}

.comment-header-date {
    margin-left: auto;
    text-align: right;
    color: #7A7978;
    font-size: 1em;
}

.comment-text {
    margin: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: #EFF7FF;
}

.new-comment-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-comment-input-block {
    margin: 0 20px 0 0;
}

.new-comment-button {
    margin: 0 0 0 20px;
}
