body {
    background-color: #120D31;
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
}

.new-comment-block {
    margin-bottom: 14px;
    padding: 5px 0;
    background-color: beige;
    width: 90%;
    max-width: 800px;
}

.new-comment-block * {
    display: block;
    margin: 5px 0 5px 5px;
}

.submit-button {
    font-size: 1.4em;
    font-weight: bold;
    width: 100px;
    height: 40px;
    margin-top: 10px;
}

.name-input {
    width: 400px;
}

.text-input {
    resize: none;
    width: 400px;
}

.comments-block {
    display: block;
    width: 90%;
    max-width: 800px;
}

.comment {
    border: solid black 5px;
    border-radius: 12px;
    border-color: #FF6700;
    overflow: hidden;
    background-color: #4A306D;
    margin: 10px 0 5px 0;
    height: 142px;
}

.comment-header {
    padding: 8px 4px;
    background-color: #EFF7FF;
    display: flex;
}

.comment-header-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8em;
    margin-right: auto;
    color: darkslateblue;
}

.comment-header-date {
    margin-left: auto;
    text-align: right;
    color: #7A7978;
    font-size: 1em;
}

.comment-text {
    margin: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    color: #EFF7FF;
}
